html {
}
body {
  background-color: aquamarine;
}
#init {
  margin-top: 150px;
  height: 400px;
  text-align: center;
}
#init h1 {
  color: white;
  text-shadow: 0 0 4px #000;
  font-size: 5rem;
}
#init p {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 3px #000;
}
